<div class = "container">
  <div id="signupbox" class="mainbox col-md-6 co-md-offset-3 col-sm-8 col-sm-offset-3">
   <div id="inventory-new-form" >
      <h1 class="page-header products-title"> Update Inventory </h1>
    <div class="form-horizontal ">
				<%= form_for @inventory, :value => @inventory, html: {multipart: true} do |f| %>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-md-3  requiredField"><%= f.label "Photo:" %></label>
							<% @photos.each do |photo| %>
			 				<%= image_tag(photo.image.url(:thumb)) %>
							<div class="center-image">
								<%= fields_for "photos[]", photo  do |pf| %>
								<%= pf.file_field(:image)  %>
								<% end %>
								<% end %>
							</div>
						</div>
					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-md-3  requiredField"><%= f.label "type:" %></label>
					<div class="controls col-md-7 ">
							<%= f.text_field :content,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Content/Type" , :required => true%>
						</div>
					</div>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-md-3  requiredField"><%= f.label "Material Name:" %></label>
					<div class="controls col-md-7 ">
							<%= f.text_field :material_name,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Material Name" , :required => true%>
						</div>
					</div>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-lg-3  requiredField"><%= f.label "Grade Number:" %></label>
					<div class="controls col-md-7 ">
						<%= f.text_field  :grade_number,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Grade Number" , :required => true%>
						</div>
					</div>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-lg-3  requiredField"><%= f.label "Form:" %></label>
					<div class="controls col-md-7 ">
						<%= f.text_field  :form,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Form" , :required => true%>
						</div>
					</div>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-lg-3  requiredField"><%= f.label "Color:" %></label>
						<div class="controls col-md-7 ">
							<%= f.text_field  :color,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Color" , :required => true%>
						</div>
					</div>

					<div id="div_id_username" class="form-group required">
						<label  class="control-label col-lg-3  requiredField"><%= f.label "Quantity:" %></label>
						<div class="controls col-md-7 ">
							<%= f.text_field  :quantity,:class => 'input-md  textinput textInput form-control', :id=>"id_number" , placeholder: "Quantity" , :required => true%>
						</div>
					</div>

					<div class="form-group">
						<div class="aab controls col-md-4 "></div>
							<div class="controls col-md-8 ">
								<div class="btn-group btn-group-lg">
									<input type="submit" name="Submit" value="Submit" class=" btn btn-success"/>
								</div>
							</div>
						</div>
					<% end %>
			</div>
		</div>
	</div>
</div>
