<div class = "container">
  <div id="signupbox" class="mainbox col-md-6 co-md-offset-3 col-sm-8 col-sm-offset-3">
   <div id="inventory-new-form" >
      <h1 class="page-header products-title"> Update Inventory </h1>
    <div class="form-horizontal ">
	<%= form_for @inventory, :value => @inventory, html: {multipart: true} do |f| %>

	<% @photos.each do |photo| %>
	 <%= image_tag(photo.image.url(:thumb)) %>
	<%= fields_for "photos[]", photo  do |pf| %>
	<%= pf.file_field(:image)  %>
		<% end %>
	<% end %>


	<div class="field">
		<%= f.label :type %>
		<%= f.text_field :content  %>
	</div>

	<div class="field">
		<%= f.label :material_name %>
		<%= f.text_field :material_name %>
	</div>

	<div class="field">
		<%= f.label :grade_number %>
		<%= f.text_field :grade_number %>
	</div>

	<div class="field">
		<%= f.label :form %>
		<%= f.text_field :form %>
	</div>

	<div class="field">
		<%= f.label :color %>
		<%= f.text_field  :color %>
	</div>

	<div class="field">
		<%= f.label :quantity %>
		<%= f.number_field :quantity %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>
</div>
</div>
</div>
