<div class="container inventory-index">
  <h1 class="page-header" id="iventory-title"> Inventory </h1>
  <% if logged_in? %>
  <div class="container">
	  <div class="row">
    <button type="button" id="button-space" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
      Add Inventory
    </button>
  <div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="">
      <div class="">
        <div class="modal-body">
          <%= render partial: "inventories/new_form" %>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
  <% end %>
   <div class="table-responsive">
    <table class="table table-bordered">
     <thead id= "inventory-header">
       <tr>
      <% if logged_in? %>
         <th>Edit</th>
         <th>Delete</th>
      <% end %>
         <th>Image</th>
         <th>Type</th>
         <th>Material Name</th>
         <th>Grade Number</th>
         <th>Form</th>
         <th>Color</th>
         <th>Quantity</th>
       </tr>
     </thead>
     <tbody>
       <% @inventories.each do |inventory| %>
         <tr id="inventory-information">
        <% if logged_in? %>
            <td> <%= link_to 'Edit',  edit_inventory_path(inventory.id) %></td>
            <td> <%= link_to 'Delete',  inventory_path(inventory.id),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
           <% if inventory.photos.length > 0 %>
           <td> <%= image_tag(inventory.photos.first.image.url(:thumb)) %></td>
           <% end %>
           <td><%= inventory.content%></td>
           <td><%= inventory.material_name %></td>
           <td><%= inventory.grade_number %></td>
           <td><%= inventory.form %></td>
           <td><%= inventory.color %></td>
           <td><%= inventory.quantity %></td>
         </tr>
       </tbody>
       <%end%>

   </table>
   <div class="pagination">
      <%= will_paginate renderer: BootstrapPagination::Rails %>
   </div>
 </div>
</div>
