<div class="container inventory-index">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" id="iventory-title" > Inventory </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
      </ol>
    </div>
    </div>
   <div class="table-responsive">
   <table class="table table-bordered">
     <thead id= "inventory-header">
       <tr>
         <th>Image</th>
         <th>Type</th>
         <th>Material Name</th>
         <th>Grade Number</th>
         <th>Form</th>
         <th>Color</th>
         <th>Quantity</th>
       </tr>
     </thead>

     <tbody>
     <% @inventories.each do |inventory| %>
       <tr id="inventory-information">
         <% if inventory.photos.length > 0 %>
         <td><%= image_tag(inventory.photos.first.image.url(:thumb)) %></td>
         <% end %>
         <td><%= inventory.content %></td>
         <td><%= inventory.material_name %></td>
         <td><%= inventory.grade_number %></td>
         <td><%= inventory.form %></td>
         <td><%= inventory.color %></td>
         <td><%= inventory.quantity %></td>
       </tr>
     </tbody>
     <%end%>
   </table>
 </div>
</div>
