<div class = "container">
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 co-md-offset-3 col-sm-8 col-sm-offset-3">
   <div id="inventory-new-form" >
    <div class="form-horizontal ">
    <%= form_for @inventory, html: {multipart: true} do |f| %>
    <% if @inventory.errors.any? %>
      <div class = " font " id="error_explanation">
        <p><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</p>
        <ul>
          <% @inventory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
        <div id="target"></div>

        <div class="field">
          <%= f.label :pictures %>
          <%= file_field_tag "photos[]", type: :file %>
        </div>

        <div id='add-image-div'>
          <button id='add-image'>Add Image</button>
        </div>

       <div class="field">
         <%= f.label :type %>
         <%= f.text_field :content %>
        </div>

        <div class="field">
          <%= f.label :material_name %>
          <%= f.text_field :material_name %>
        </div>

        <div class="field">
          <%= f.label :grade_number %>
          <%= f.text_field :grade_number %>
        </div>

        <div class="field">
          <%= f.label :form %>
          <%= f.text_field :form %>
        </div>

        <div class="field">
          <%= f.label :color %>
          <%= f.text_field  :color %>
        </div>

        <div class="field">
          <%= f.label :quantity %>
          <%= f.number_field :quantity %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
