<div style='margin-top:5em' class="panel-body">
  <%= form_for @inventory, html: {multipart: true} do |f| %>
  <% if @inventory.errors.any? %>
  <div class = " font " id="error_explanation">
    <p><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</p>
    <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div id="target"></div>


  <div class="field">
    <%= f.label :pictures %>
    <%= file_field_tag "photos[]", type: :file %>
  </div>

  <div id='add-image-div'>
    <button id='add-image'>Add Image</button>
  </div>


  <script>
    $(document).ready(function(){
      $('#add-image-div').on('click','#add-image',function(e){
        e.preventDefault();
        $(this).after("<div id='parent-photo'><button  class='remove-file-option'>X</button><input type='file' name='photos[]' id='photos_' multiple='multiple'><div id='target'></div</div><br>");

      
          $('.remove-file-option').on('click',function(e){
            e.preventDefault();
            $(this).parent().remove();

          })

          $('#parent-photo' ).on('change', '#photos_', function(event) {      
            var target_element = $(this).next();

            var files = event.target.files;
            var image = files[0]
            var reader = new FileReader();
            reader.onload = function(file) {
              var img = new Image();
              console.log(file);
              img.src = file.target.result;
              $(target_element).html(img);
              $("#target img").css('width','64px');
            }
            reader.readAsDataURL(image);
            console.log(files);
          })
        })


     $('#photos_').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        $('#target').html(img);
        $('#target img').css('width','64px');
      }
      reader.readAsDataURL(image);
      console.log(files);



    })

   })

 </script>
 <div class="field">
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>

<div class="field">
  <%= f.label :material_name %>
  <%= f.text_field :material_name %>
</div>

<div class="field">
  <%= f.label :grade_number %>
  <%= f.text_field :grade_number %>
</div>

<div class="field">
  <%= f.label :form %>
  <%= f.text_field :form %>
</div>

<div class="field">
  <%= f.label :color %>
  <%= f.text_field  :color %>
</div>

<div class="field">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
</div>
