<h1>  </h1>

<div>What you want to do: <%= @product[:product_action] %></div>
<div>Company: <%= @product[:company_name] %></div>
<div>Name: <%= @product[:name] %></div>
<div>Phone Number: <%= @product[:phone_number] %></div>
<div>Email:<%= @product[:email] %></div>
<div>Plastic Material: <%= @product[:plastic_material] %></div>
<div>Plastic Form: <%= @product[:plastic_form] %></div>
<div>Quantity: <%= @product[:quantity] %> </div>
<div>Price Range: <%= @product[:price_range] %> </div>
<div>Color: <%= @product[:color] %> </div>
<div>Date Needed: <%= @product[:date_needed] %></div>
<div>Comments: <%= @product[:comments] %></div>