<div class="container" id= "contact-form">
  <div class="row">
    <div class="col-md-8">
    <h3 class = "products-title">Send us a Message</h3>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <form name="sentMessage" id="contactForm">
            <div class="control-group form-group">
              <div class="controls">
                <label>Full Name:</label>
                  <%= f.text_field :name,:class => 'form-control',:id => "name" , :required => true %>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Phone Number:</label>
                <%= f.text_field :number,:class => 'form-control',:id => "name" , :required => true %>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email Address:</label>
                <%= f.text_field :email,:class => 'form-control',:id => "name" , :required => true %>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Message:</label>
                <%= f.text_area :message,:rows =>"10", :cols=>"100",:class => 'form-control',:style=>"resize:none",:id => "message" , :required => true %>
              </div>
            </div>
            <div id="success"></div>
            <%= f.button :submit, 'Send message', :class=> "btn btn-success" %>
        <% end %>
      </form>
    </div>
  </div>
</div>
