<div>
	<%= react_component(('BannerPictures'), {prerender: true}) %>
</div>

<div class="home-page">
	<div class="">
		<div class="container">
			<%= react_component(('SecondInformationBoxes'), {prerender: true}) %>
		</div>
	</div>
	<div class="third-box ">
		<div class="row">
			<%= react_component(('InventoryHeader'), {prerender: true}) %>
				<%@inventories.each do |img|%>
				<div id="mobile-pic" class="col-md-4 image-padding "style="width: 30.1rem">
						<ul>
							<li class="img-responsive"><%=image_tag(img.photos.first.image(:medium))%></li>
						</ul>
			 </div>
			<%end%>
		</div>
	</div>
	<div class="first-box">
		<%= react_component(('FirstBoxInformation'), {prerender: true}) %>
	</div>
</div>
