<div class="container product-background">
	<h1 class= "products-title">Buy/Sell Products</h1>
	<div class="form-horizontal" id="product-form" >
		<%= form_for :products, url: "product_data_collect" do |f| %>

		<div class="">
			<%= f.label "What you want to do:" %>
			<%= f.select :product_action, {Buy: "buy", Sell: "sell"} %>
		</div>

		<div class="">
		  <%= f.label "Company" %>
		  <%= f.text_field :company_name ,:class => 'sub-form', placeholder: "Company Name" %>
		</div>

		<div class="">
		  <%= f.label "Name" %>
		  <%= f.text_field :name,:class => 'sub-form',  placeholder: "Name" %>
		</div>

		<div class="">
		  <%= f.label "Phone Number" %>
		  <%= f.text_field :phone_number ,:class => 'sub-form',  placeholder: "Phone Number"%>
		</div>

		<div class="">
		  <%= f.label "Email" %>
		  <%= f.text_field :email,:class => 'sub-form',  placeholder: "Email" %>
		</div>

		<div class="">
		  <%= f.label "Plastic Material" %>
		  <%= f.text_field :plastic_material,:class => 'sub-form',  placeholder: "Plastic Material"%>
		</div>

		<div class="">
		  <%= f.label "Plastic Form" %>
		  <%= f.text_field :plastic_form,:class => 'sub-form',  placeholder: "Plastic Form"  %>
		</div>

		<div class="">
			<%= f.label "Quantity" %>
		  <%= f.text_field :quantity,:class => 'sub-form',  placeholder: "Quantity" %>
		</div>

		<div class="">
		  <%= f.label "Price Range" %>
		  <%= f.text_field :price_range,:class => 'sub-form',  placeholder: "Price Range" %>
		</div>

		<div class="">
		  <%= f.label "Color" %>
		  <%= f.text_field :color,:class => 'sub-form',  placeholder: "Color" %>
		</div>

		<div class="">
		  <%= f.label "FOB Point" %>
		  <%= f.text_field :fob_point,:class => 'sub-form',  placeholder: "FOB Point"  %>
		</div>

		<div class="">
		 	<%= f.label "Date Needed" %>
		 	<%= f.text_field :date_needed,:class => 'sub-form',  placeholder: "Date Needed"  %>
		</div>

		<div class="">
		 	<%= f.label "Comments" %>
		 	<%= f.text_field :comments,:class => 'sub-form',  placeholder: "Comments" %>
		</div>

		<div class="">
	 		<button id="singlebutton" name="singlebutton" class="btn btn-primary"> Submit</button>
		</div>
	<% end %>
	</div>
</div>
