<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Company<span>logo</span></h3>

				<p class="footer-links">
					<%= link_to "Home" , root_path %>
						·
					<%= link_to "Inventory" , inventories_path %>
						·
					<%=link_to "Buy/Sell Products", buy_sell_products_path %>
						·
					<%=link_to "Consulting", consulting_path %>
						·
					<%=link_to "Transportation" , transportation_path %>
						·
					<%=link_to "Contact Us", contacts_path%>
				</p>

				<p class="footer-company-name">Company Name &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
<!--footer start from here-->
<!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 footerleft ">
				<div class="logofooter"><img src="/snowtree.png" alt="logo" width="120"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
				<p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
				<p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
				<p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

			</div>
			<div class="col-md-2 col-sm-6 paddingtop-bottom">
				<h6 class="heading7">GENERAL LINKS</h6>
				<ul class="footer-ul">
					<li class="active"><%= link_to "Home" , root_path %> </li>
          <li><%= link_to "Inventory" , inventories_path %></li>
          <li><%=link_to "Buy/Sell Products", buy_sell_products_path %></li>
          <li><%=link_to "Consulting", consulting_path %></li>
          <li><%=link_to "Transportation" , transportation_path %></li>
          <li> <%=link_to "Contact Us", contacts_path%></li>
				</ul>
			</div>

		</div>
	</div>
</footer> -->
<!--footer start from here-->

<div class="copyright">
	<div class="container">
		<div class="col-md-6">
			<p>© 2016 - All Rights with Webenlance</p>
		</div>
		<!-- <div class="col-md-6">
			<ul class="bottom_ul">
				<li><a href="#">webenlance.com</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Faq's</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Site Map</a></li>
			</ul>
		</div> -->
	</div>
</div>
