<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<footer class="footer-distributed">
	<div class="footer-left">
		<h1><img src="/snowtree2.png" alt="logo" width="220"></h1>
		<p class="footer-links">
			<%= link_to "Home" , root_path %>
				·
			<%= link_to "Inventory" , inventories_path %>
				·
			<%=link_to "Buy/Sell Products", buy_sell_products_path %>
				·
			<%=link_to "Consulting", consulting_path %>
				·
			<%=link_to "Transportation" , transportation_path %>
				·
			<%=link_to "Contact Us", contacts_path%>
		</p>
		<p class="footer-company-name">SnowTree &copy; 2017</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>21 Revolution Street</span> Paris, France</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+1 555 123456</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:snowtree.testing@gmail.com">snowtree.testing@gmail.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>About SnowTree</span>
			Snowtree environmental solutions is a consulting, technology,, sales, and distribution company Focused on plastic, paper, and metals. With 30 years of trading and technical sales experience , we can provide the information and services to make it possible to save our customers money while getting the best price for their materials.
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
	</div>
</footer>
