<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snowtree</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>

  <div id= "header-nav">
    <nav role="navigation" class="navbar navbar-fixed-top nav-background">
      <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only toggle-color">Toggle navigation</span>
          <span class="icon-bar toggle-color"></span>
          <span class="icon-bar toggle-color"></span>
          <span class="icon-bar toggle-color"></span>
        </button>
        <!-- <a href="/" class="navbar-brand">Snowtree</a> -->
        <a href="/" class="navbar-brand"><img src="/snowtree.png" alt="logo" width="120"></a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right" >
            <li class="active"><%= link_to "Home" , root_path %> </li>
            <li><%= link_to "Inventory" , inventories_path %></li>
            <li><%=link_to "Buy/Sell Products", buy_sell_products_path %></li>
            <li><%=link_to "Consulting", consulting_path %></li>
            <li><%=link_to "Transportation" , transportation_path %></li>
            <li> <%=link_to "Contact Us", contacts_path%></li>
            <%if logged_in?%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle glyphicon glyphicon-user specialColor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
            <ul class="dropdown-menu specialColor">
            <li><%= link_to "Admin Panel",admin_panel_path%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
          <%end%>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>
</html>
